Books filter=lfs diff=lfs merge=lfs -text
*.pdf filter=lfs diff=lfs merge=lfs -text
Books/ndk/Sergey[[:space:]]Kosarevsky,[[:space:]]Viktor[[:space:]]Latypov[[:space:]]-[[:space:]]Android[[:space:]]NDK[[:space:]]Game[[:space:]]Development[[:space:]]Cookbook-Packt[[:space:]]Publishing[[:space:]](2013).pdf filter=lfs diff=lfs merge=lfs -text
Books/ndk/Sergey[[:space:]]Kosarevsky,[[:space:]]Viktor[[:space:]]Latypov[[:space:]]-[[:space:]]Mastering[[:space:]]Android[[:space:]]NDK-Packt[[:space:]]Publishing[[:space:]]-[[:space:]]ebooks[[:space:]]Account[[:space:]](2015).pdf filter=lfs diff=lfs merge=lfs -text
Books/Adam[[:space:]]Marrs,[[:space:]]Peter[[:space:]]Shirley,[[:space:]]Ingo[[:space:]]Wald[[:space:]]-[[:space:]]Ray[[:space:]]Tracing[[:space:]]Gems[[:space:]]II_[[:space:]]Next[[:space:]]Generation[[:space:]]Real-Time[[:space:]]Rendering[[:space:]]with[[:space:]]DXR,[[:space:]]Vulkan,[[:space:]]and[[:space:]]OptiX-Apress[[:space:]](2021).pdf filter=lfs diff=lfs merge=lfs -text
Books/Graham[[:space:]]Sellers,[[:space:]]John[[:space:]]Kessenich[[:space:]]-[[:space:]]Vulkan[[:space:]]Programming[[:space:]]Guide[[:space:]][[:space:]]The[[:space:]]Official[[:space:]]Guide[[:space:]]to[[:space:]]Learning[[:space:]]Vulkan[[:space:]](OpenGL)-Addison-Wesley[[:space:]](2016).pdf filter=lfs diff=lfs merge=lfs -text
Books/Marco[[:space:]]Castorina,[[:space:]]Gabriel[[:space:]]Sassone[[:space:]]-[[:space:]]Mastering[[:space:]]Graphics[[:space:]]Programming[[:space:]]with[[:space:]]Vulkan_[[:space:]]Develop[[:space:]]a[[:space:]]modern[[:space:]]rendering[[:space:]]engine[[:space:]]from[[:space:]]first[[:space:]]principles[[:space:]]to[[:space:]]state-of-the-art[[:space:]]techniques-Packt[[:space:]]Publishing[[:space:]](2023).pdf filter=lfs diff=lfs merge=lfs -text
Books/Parminder[[:space:]]Singh[[:space:]]-[[:space:]]Learning[[:space:]]Vulkan-Packt[[:space:]]Publishing[[:space:]](2017).pdf filter=lfs diff=lfs merge=lfs -text
Books/Pawel[[:space:]]Lapinski[[:space:]]-[[:space:]]Vulkan[[:space:]]Cookbook_[[:space:]]Work[[:space:]]through[[:space:]]recipes[[:space:]]to[[:space:]]unlock[[:space:]]the[[:space:]]full[[:space:]]potential[[:space:]]of[[:space:]]the[[:space:]]next[[:space:]]generation[[:space:]]graphics[[:space:]]API-Vulkan-Packt[[:space:]]Publishing[[:space:]](2017).pdf filter=lfs diff=lfs merge=lfs -text
Books/Penny[[:space:]]de[[:space:]]Byl[[:space:]]-[[:space:]]Mathematics[[:space:]]for[[:space:]]Game[[:space:]]Programming[[:space:]]and[[:space:]]Computer[[:space:]]Graphics_[[:space:]]Explore[[:space:]]the[[:space:]]essential[[:space:]]mathematics[[:space:]]for[[:space:]]creating,[[:space:]]rendering,[[:space:]]and[[:space:]]manipulating[[:space:]]3D[[:space:]]virtual[[:space:]]environments-Packt[[:space:]]Publishing[[:space:]](2022).pdf filter=lfs diff=lfs merge=lfs -text
Books/Sergey[[:space:]]Kosarevsky,[[:space:]]Viktor[[:space:]]Latypov[[:space:]]-[[:space:]]3D[[:space:]]Graphics[[:space:]]Rendering[[:space:]]Cookbook_[[:space:]]A[[:space:]]comprehensive[[:space:]]guide[[:space:]]to[[:space:]]exploring[[:space:]]rendering[[:space:]]algorithms[[:space:]]in[[:space:]]modern[[:space:]]OpenGL[[:space:]]and[[:space:]]Vulkan-Packt[[:space:]]Publishing[[:space:]](2021).pdf filter=lfs diff=lfs merge=lfs -text
Books/Siddharth[[:space:]]Shekar[[:space:]]-[[:space:]]C++[[:space:]]Game[[:space:]]Development[[:space:]]By[[:space:]]Example_[[:space:]]Learn[[:space:]]to[[:space:]]build[[:space:]]games[[:space:]]and[[:space:]]graphics[[:space:]]with[[:space:]]SFML,[[:space:]]OpenGL,[[:space:]]and[[:space:]]Vulkan[[:space:]]using[[:space:]]C++[[:space:]]programming-Packt[[:space:]]Publishing[[:space:]](2019).pdf filter=lfs diff=lfs merge=lfs -text
Books/SIGGRAPH_Intro_to_vulkan.1pp.pdf filter=lfs diff=lfs merge=lfs -text
